@use "settings" as *;

#main_header {
	div {
		color: $black;
		padding: 0;
		margin: 0;
		font-family: "Russo One", "Courier Prime","Courier New", Courier, monospace;
		text-align: left
	}
	.title {
		font-size: 3rem;
		font-weight: normal;
		margin-top: 10px;
	}
	
	.subtitle {
		font-size: 1.3rem;
		font-weight: normal;
		line-height: 0.8rem
	}
	
	@media (max-width: 450px) {
		h1 {
			font-size: 1.7rem;
		}
		h2 {
			display:none;
		}
	}	
	
	a {
		color: $black;
		text-decoration: none;
	}
	
	ul {
		margin-top: 0;
		margin-bottom: 3px;
		list-style: none;
		padding-left: 0;
		text-align: right;
		
		li {
			display: inline-block;
		}
		
		a, b {
			padding-left: 1em;
		}
		a {
			color: $color2;
		}
	}
}