    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${doc.getText()}</title>
	<meta name="description" content="${meta.getChild("description").text}">
	<meta name="author" content="${meta.getChild("author").value}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<style>@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');</style>
    <link rel="stylesheet" href="/css/site.css?v=20241210">
    
    
    
		
	#if(${lang.get("lang")} == "en")
		<link rel="alternate" hreflang="es" href="https://stxt.dev/es/${doc_name}" />
		#set($indexPage = "/")
	#end
		
	#if(${lang.get("lang")} == "es")
		<link rel="alternate" hreflang="en" href="https://stxt.dev/${doc_name}" />
		#set($indexPage = "/es")
	#end
	
	<link rel="alternate" hreflang="x-default" href="https://stxt.dev/${doc_name}" />
