#set($previous = "")
#set($previous_ok = "")
#set($next_ok = "")
#set($encontrado = false)

#if($index)
	#foreach($node in $index.children)
		## Only links to pages of the site take part in previous/next; external links (Url) do not
		#if(${node.canonicalName} == "link" && $node.getChild('page'))
			#if(${doc_name}==${node.getChild('page').getText()})
				#set($encontrado = true)
				#set($previous_ok = $previous)
			#else
				#if($encontrado && $next_ok == "")
					#set($next_ok = $node)
				#end
			#end
			#set($previous = $node)
		#end
	#end

	<nav class="book-nav" aria-label="${lang.get("nav.book")}">
		#if($previous_ok != "")
			<a class="prev" href="${previous_ok.getChild('page').getText()}" title="${previous_ok.text}"><span class="book-nav-arrow">&#x25C4;</span>&nbsp;${previous_ok.text}</a>
		#else
			<span></span>
		#end
		#if($next_ok != "")
			<a class="next" href="${next_ok.getChild('page').getText()}" title="${next_ok.text}">${next_ok.text}&nbsp;<span class="book-nav-arrow">&#x25BA;</span></a>
		#end
	</nav>
#end
