## "On this page": the section headings of the current page, as the right column.
## Links go to the stable heading id (Utils.headingId, the same one node.vm puts on the
## <h2>/<h3>), falling back to the positional index_N when the title yields no id
## ($tocN counts header, subheader and subsubheader like $numPart in node.vm).
#set($tocCount = 0)
#foreach($node in ${doc.children})
	#if(${node.canonicalName} == "subheader")
		#set($tocCount = $tocCount + 1)
	#end
#end
#if($tocCount > 1)
	#set($tocN = 0)
	<nav class="page-toc" aria-label="${lang.get("toc.title")}">
		<h2 class="page-toc-title">${lang.get("toc.title")}</h2>
		#foreach($node in ${doc.children})
			#if(${node.canonicalName} == "header")
				#set($tocN = $tocN + 1)
			#elseif(${node.canonicalName} == "subheader")
				#set($hid = $utils.headingId($node.text))
				#if($hid == "")#set($hid = "index_${tocN}")#end
				<a href="#$hid">${wiki.renderInline($node.text)}</a>
				#set($tocN = $tocN + 1)
			#elseif(${node.canonicalName} == "subsubheader")
				#set($hid = $utils.headingId($node.text))
				#if($hid == "")#set($hid = "index_${tocN}")#end
				<a class="l3" href="#$hid">${wiki.renderInline($node.text)}</a>
				#set($tocN = $tocN + 1)
			#end
		#end
	</nav>
#end
